- if @edition.state == :active || @edition.state == :published
  .warning_message= I18n.t('dmp.admin.is_active_warning')
   
= semantic_form_for [:admin, @edition] do |f|
  = f.inputs I18n.t('dmp.admin.details') do
    = f.input :edition

    - unless @edition.phase.template.checklist
      = f.input :dcc_edition, as: :select, collection: dcc_checklist_editions, required: true, hint: @edition.checklist_locked? ? I18n.t('dmp.admin.mappings_active') : nil, input_html: {disabled: @edition.checklist_locked?}

  = sortable_tree @edition.questions.nested_set.all, klass: "question", rebuild_url: rebuild_admin_questions_path, path: 'admin/questions/sortable/base', :max_levels => 3, :admin => current_user.is_dccadmin?


  = f.buttons do
    %li.button= link_to t('dmp.go_back'), admin_edition_path(@edition), class: 'cancel_link'
    = f.commit_button
