= semantic_form_for :user, :url => new_user_session_path do |f|
  = f.inputs do
    = f.input :email
    = f.input :password

    %li.right
      = f.buttons class: "buttons" do
        = f.commit_button t('dmp.auth.sign_in')

    = f.input :remember_me, :as => :boolean, wrapper_html: {class: "left half"}

= render :partial => "devise/shared/links"
