- if @plan.errors.any?
  - error_notices render(partial: "/layouts/errormessages", locals: {errors: @plan.errors})

= semantic_form_for @plan do |f|
  .plan_column
    %h2.step= t('dmp.plan_create_step_1')
    = f.inputs do
      = f.input :project
      .form_text= t('dmp.following_optional')
      = f.input :currency
      = f.input :budget, input_html: {value: number_with_precision(@plan.budget, precision: 2)}
      = f.input :start_date
      = f.input :end_date
      = f.input :lead_org
      = f.input :other_orgs
      = render partial: 'repository', locals: {f: f}
      
    -#.modal_message
    -#  = t('dmp.disabled_until_template_selection')

  
  .plan_column#step2
    %h2.step= t('dmp.plan_create_step_2')
    .warning-message 
      %strong= t('dmp.note')
      = t('dmp.template_choice_irreversible') 
    %h3= t('dmp.templates')
    - template_list = current_user.plan_templates(current_organisation)
    - if template_list.any?
      = t('dmp.click_to_expand')
      - template_list.group_by(&:organisation_type_id).each do |orgtype, g|
        - group_title = g.first.organisation_type_title.blank? ? t('dmp.default_question_set') : g.first.organisation_type_title 
        = f.inputs :name => group_title, :class => "collapsible inputs" do
          - g.group_by(&:organisation_id).each do |org, t|
            %li.template_name= t.first.organisation_name
            %ol
              %li{class: "check_boxes input optional"}
                %fieldset.choices
                  = hidden_field_tag 'plan[template_ids][]', ''
                  %ol.choices-group.template_list
                    - t.each do |i|
                      %li.choice
                        %label{for: dom_id(i)}
                          = check_box_tag 'plan[template_ids][]', i.id, @plan.template_ids.include?(i.id), id: dom_id(i), class: @plan.template_ids.include?(i.id) ? "warning" : nil, disabled: !@plan.new_record? && @plan.template_ids.include?(i.id)
                          = i.name
                        .description
                          = sanitize i.description
                          - unless i.url.blank? 
                            .website= link_to t('dmp.further_details'), i.url
                          &nbsp;
    - else
      %p.error= t('dmp.no_templates')
    = f.buttons do
      = f.commit_button
      - if @plan.new_record?
        %li.button= link_to t('dmp.cancel'), plans_path, {class: "cancel_link"}
      - else
        %li.button= link_to t('dmp.cancel'), plan_path(@plan), {class: "cancel_link"}

  .plan_footer

:coffeescript
  jQuery ->
    $("#step2 input").change ->    
      c = $("#step2 input:checked").length
      $("input.create").prop "disabled", c == 0
      $(".modal_message").toggle(c == 0)
    .change()
    
    $("#step2 fieldset.collapsible").each (i) ->
      if $("input:checked", this).length > 0
        $("legend", this).trigger 'click'

    $("#plan_repository_id").change ->
      obo_list = $("#repository_username_area").data('obo_list')
      sel = $(this).val().toString()

      if typeof obo_list[sel] == 'undefined'
        $("#repository_username_area").hide()
      else
        $("#plan_repository_username_username").val(obo_list[sel])
        $("#repository_username_area").show()
      end
    .change()

